*,
html,
body {
  margin: 0;
  padding: 0;
  /* background-color: #f8f8f8; */
}

.navbar-brand {
  font-family: Rubik;
  font-style: regular;
  font-size: 20px;
  line-height: 19px;
  line-height: 100%;
  vertical-align: Top;
  color: #0b132a;
  font-weight: 700;
}

.btn {
  border-radius: 10px;
  width: 120px;
  height: 45px;
  text-align: center;
}
/* Start main */
.jumbotron {
  background-image: url('./assets/nathan-dumlao-71u2fOofI-U-unsplash\ 2.png');
  background-size: 100%;
  height: 640px;
}
.display-4 {
  font-family: Rubik;
  font-style: bold;
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  line-height: 100%;
  vertical-align: Top;
  color: #ffffff;
  margin-top: 30px;
}
.lead {
  font-family: Rubik;
  font-style: bold;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  line-height: 127%;
  vertical-align: Top;
  color: #ffffff;
  margin-top: 30px;
}
.card-text {
  font-family: Rubik;
  font-style: bold;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  line-height: 127%;
  vertical-align: Top;
  color: #0b132a;
  text-align: center;
}
#card-jumbotron {
  justify-content: center;
}
#text-card {
  font-family: Rubik;
  font-style: Regular;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  line-height: 127%;
  vertical-align: Top;
  color: #4f5665;
  text-align: center;
}
#staff {
  background-image: none;
  background-color: #ffffff;
  width: 97%;
  height: 200px;
  margin-top: 50px;
  margin-left: 15px;
}
#get-started {
  font-family: Rubik;
  font-style: bold;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  line-height: 127%;
  vertical-align: Top;
  color: #6a4029;
  margin-top: 30px;
  width: 250px;
  height: 60px;
}
#user-vector {
  height: 18px;
  width: 16.8px;
  background-size: 200px;
}
#location-vector {
  height: 20px;
  width: 14px;
}
#love-vector {
  height: 23px;
  width: 27px;
}
#nav-login {
  font-family: Rubik;
  font-style: Medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  line-height: 100%;
  vertical-align: Top #0b132a;
}
#nav-sign-up {
  font-family: Rubik;
  font-style: Medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  line-height: 100%;
  vertical-align: Top;
  color: #6a4029;
  border-radius: 30px;
}
#search {
  font-family: Poppins;
  font-style: black;
  font-weight: 900;
  font-size: 17px;
  line-height: 26px;
  vertical-align: Top;
  color: #000000;
  border-radius: 30px;
  background-color: #efeeee;
  width: 300px;
  position: absolute;
  margin-left: 147px;
  margin-top: -31px;
}
#search-button {
  width: 25px;
  height: 25px;
  margin-left: -179px;
}

/* End main */

/* Start Section review */
.review {
  padding-top: 100px;
}
#teamwork {
  height: 457px;
  width: 573px;
}
#col-proved {
  width: 100px;
  padding-left: 100px;
  padding-top: 52px;
}
#proved {
  font-family: Rubik;
  font-style: medium;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  line-height: 121%;
  vertical-align: Top;
  text-align: left;
  color: #0b132a;
  padding: 5px;
  width: 458px;
}
#explore {
  font-family: Rubik;
  font-style: Regular;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  line-height: 158%;
  vertical-align: Top;
  text-align: left;
  color: #4f5665;
  padding: 5px;
  width: 420px;
}

.col-6 ol li {
  list-style: none;
  font-family: Rubik;
  font-style: Regular;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  vertical-align: Top;
  text-align: left;
  color: #4f5665;
  padding: 5px;
}

/* END Section review */

/* section Favorite Menu */

#fav-menu-jumbotron {
  background-image: none;
  background-color: hsl(0, 0%, 98%);
  margin-top: 100px;
}

.favorite-menu h1 {
  font-family: Rubik;
  font-style: medium;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  line-height: 121%;
  vertical-align: Top;
  text-align: center;
  color: #0b132a;
  padding: 5px;
}
.favorite-menu p {
  font-family: Rubik;
  font-style: Regular;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  line-height: 158%;
  vertical-align: Top;
  text-align: center;
  color: #4f5665;
  padding: 5px;
}
.favorite-menu ol li {
  list-style: none;
  text-align: left;
  font-family: Rubik;
  font-style: Regular;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  line-height: 181%;
  vertical-align: Top;
  text-align: left;
  color: #4f5665;
  padding: 8px;
  margin-left: 30px;
}
#ingredient-list-1 {
  margin-bottom: 100px;
}
#ingredient-list-2 {
  margin-bottom: 58px;
}
#ingredient {
  margin-left: 47px;
  margin-top: 25px;
}
.image-menu {
  width: 200px;
  height: 200px;
  border-radius: 141px;
  margin-left: 74px;
  margin-top: 61px;
  padding: 18px;
}

#title-menu {
  text-align: center;
  font-family: Rubik;
  font-style: Medium;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  line-height: 141%;
  vertical-align: Top;
  color: #0b132a;
  padding: 5px;
}

#price {
  text-align: center;
  font-family: Rubik;
  font-style: Medium;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  line-height: 101%;
  vertical-align: Top;
  color: #0b132a;
  padding: 5px;
  margin-top: 100px;
}

#order-now {
  border-radius: 20px;
  width: 155px;
  height: 46px;
  margin-left: 98px;
  margin-bottom: 42px;
  text-align: center;
  font-family: Rubik;
  font-style: bold;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  line-height: 100%;
  vertical-align: Top;
  color: #6a4029;
}
/* End Section Fav-Menu */

/* Start Section visit-us */
#cont-visit-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  width: 423px;
}
#visit-us {
  text-align: center;
}
#see-you {
  width: 551px;
}
#huge-global {
  margin-top: 150px;
}
#our-partner {
  margin-top: 100px;
}
.image-sponsored {
  align-items: center;
  justify-items: center;
}
#netflix {
  height: 101px;
  margin-top: -24px;
}
#reddit {
  height: 62px;
  margin-top: -4px;
  margin-left: 10px;
}
#amazon {
  height: 191px;
  margin-top: -58px;
}
#discord {
  height: 65px;
  margin-top: -1px;
  margin-left: 43px;
}
#spotify {
  height: 58px;
  margin-top: -4px;
  margin-left: 88px;
}
#partner {
  margin-top: 50px;
  justify-content: center;
}
#partnership {
  margin-left: 10px;
}
/* End Section visit-us */

/* Start Loved by Costumer */

#loved-by-costumer {
  justify-content: center;
  width: 551px;
}
#row-loved-cost {
  justify-content: center;
}
/* End Loved by Costumer */

/* Start Profile */
#comment-user {
  gap: 140px;
}
#card-profile {
  width: 400px;
  border-radius: 10px;
  height: 230px;
}
.image-profile {
  width: 50px;
  height: 50px;
}
#yesica {
  border-radius: 50px;
}
#kim {
  width: 100px;
  margin-left: 4px;
}
#name-kim {
  width: 281px;
  font-size: 18px;
  margin-top: -49px;
  margin-left: -14px;
}
#from-kim {
  width: 190px;
  height: 10px;
  margin-top: -21px;
  margin-left: 36px;
}
.header {
  width: 330px;
  height: 70px;
  margin-top: 14px;
}
#name-profile {
  text-align: center;
  font-family: Rubik;
  font-style: Medium;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  line-height: 141%;
  vertical-align: Top;
  color: #0b132a;
  padding: 5px;
  margin-top: -53px;
  margin-left: 53px;
  width: 122px;
}
#from {
  width: 126px;
  height: 10px;
  margin-top: -21px;
  margin-left: 53px;
}
#comment {
  margin-top: 17px;
  text-align: left;
  width: 350px;
}
#rating {
  width: 55px;
  margin-top: -40px;
  margin-left: 310px;
}

/* End Profile */

/* Start Jumbotron Promo */
#promo {
  margin-top: 182px;
}
#check-promo {
  padding-top: 30px;
  padding-left: 10px;
  width: 304px;
  text-align: left;
}
#deals {
  text-align: left;
}
#see-promo {
  text-align: center;
  font-family: Rubik;
  font-style: bold;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  line-height: 132%;
  vertical-align: Top;
  color: #6a4029;
  width: 207px;
  height: 50px;
  margin-left: 250px;
  margin-top: 65px;
}

/* End Jumbotron Promo  */

/*  Start Footer */

#cont-footer {
  margin-top: 80px;
  padding: 0px;
}

#jum-footer {
  background-color: #f8f8f8;

  background-image: none;
  margin-top: -92px;
}

#review-coffee {
  margin-top: 25px;
  width: 63%;
  text-align: left;
  font-family: Rubik;
  font-style: Medium;
  font-size: 16px;
  line-height: 30px;
  line-height: 158%;
  align-content: flex-start;
  font-weight: 500;
  vertical-align: Top;
  color: #4f5665;
}
#image-icon {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
  margin-left: -12px;
}
#copyright {
  color: #afb5c0;

  margin-left: -366px;
}

#head-footer-right {
  text-align: left;
  font-family: Rubik;
  font-style: Medium;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  line-height: 141%;
  padding: 5px;
  color: #0b132a;
  margin-left: -10px;
}
#list {
  margin-left: -19%;
  list-style: none;
  text-align: left;
  font-family: Rubik;
  font-style: Regular;
  font-size: 16px;
  line-height: 50px;
  line-height: 245%;
  word-spacing: 5px;

  color: #4f5665;
}
/* End Footer */

@media only screen and (max-width: 768px) {
  .navbar-brand {
    margin-left: -80px;
  }
  .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
    margin-right: -79px;
  }

  #search {
    font-family: Poppins;
    font-style: black;
    font-weight: 900;
    font-size: 17px;
    line-height: 26px;
    vertical-align: Top;
    color: #000000;
    border-radius: 30px;
    background-color: #efeeee;
    width: 614px;
    position: absolute;
    margin-left: -331px;
    margin-top: -31px;
  }
  #search-button {
    width: 25px;
    height: 25px;
    margin-left: -490px;
    margin-top: -5px;
  }
  .display-4 {
    font-family: Rubik;
    font-style: bold;
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    line-height: 100%;
    vertical-align: Top;
    color: #ffffff;
    margin-top: 68px;
    width: 409px;
    text-align: center;
    margin-left: 40px;
  }
  .lead {
    margin-left: -98px;
    font-family: Rubik;
    font-style: bold;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    line-height: 127%;
    vertical-align: Top;
    color: #ffffff;
    margin-top: 60px;
    width: 731px;
    text-align: center;
  }
  #get-started {
    font-family: Rubik;
    font-style: bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    line-height: 127%;
    vertical-align: Top;
    color: #6a4029;
    margin-top: 51px;
    width: 133px;
    height: 46px;
    margin-left: 182px;
  }
  #card-jumbotron {
    display: none;
  }
  #staff {
    display: none;
  }
  #teamwork {
    height: 245px;
    width: 245px;
    margin-top: -131px;
    margin-left: -67px;
  }
  #proved {
    font-family: Rubik;
    font-style: medium;
    font-weight: 500;
    font-size: 28px;
    line-height: 50px;
    line-height: 121%;
    vertical-align: Top;
    text-align: left;
    color: #0b132a;
    padding: 5px;
    margin-top: -105px;
    width: 376px;
  }
  #col-proved {
    padding-left: 0px;
    padding-top: 0px;
  }
  #explore {
    font-family: Rubik;
    font-style: Regular;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    line-height: 158%;
    vertical-align: Top;
    text-align: left;
    color: #4f5665;
    padding: 5px;
    width: 355px;
  }
  .col-6 ol li {
    list-style: none;
    font-family: Rubik;
    font-style: Regular;
    font-weight: 400;
    font-size: 11px;
    line-height: 30px;
    vertical-align: Top;
    text-align: left;
    color: #4f5665;
    padding: 2px;
    width: 356px;
  }
  .image-menu {
    width: 150px;
    height: 150px;
    border-radius: 141px;
    margin-left: -2px;
    margin-top: 5px;
    padding: 25px;
  }
  .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 33px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    width: 161px;
  }
  .favorite-menu ol li {
    list-style: none;
    text-align: left;
    font-family: Rubik;
    font-style: Regular;
    font-weight: 400;
    font-size: 11px;
    line-height: 30px;
    line-height: 181%;
    vertical-align: Top;
    text-align: left;
    color: #4f5665;
    padding: 8px;
    margin-left: 30px;
    margin-top: -6px;
  }
  #ingredient-list-1 {
    margin-left: -92px;
  }
  #ingredient-list-2 {
    margin-left: -89px;
  }
  #ingredient-list-3 {
    margin-left: -10px;
    margin-left: -88px;
  }
  .favorite-menu ol li {
    font-size: 9px;
  }
  #price {
    margin-top: 8px;
    font-size: 21px;
  }
  #order-now {
    border-radius: 20px;
    width: 117px;
    height: 40px;
    margin-left: 19px;
  }
  /* margin-top */
  #price-1 {
    margin-top: -24px;
    font-size: 19px;
  }
  #price-2 {
    margin-top: -7px;
    font-size: 19px;
  }
  #price-3 {
    margin-top: 8px;
    font-size: 19px;
  }
  #huge-global {
    margin-top: 82px;
    width: 438px;
  }
  #netflix {
    height: 80px;
    margin-top: -47px;
    margin-left: -75px;
  }

  #reddit {
    height: 50px;
    margin-top: 39px;
    margin-left: -46px;
    width: 158px;
  }
  #amazon {
    height: 169px;
    margin-top: -78px;
    margin-left: -65px;
  }
  #discord {
    height: 61px;
    margin-top: 37px;
    margin-left: 48px;
  }
  #spotify {
    height: 47px;
    margin-top: -21px;
    margin-left: 45px;
  }
  #loved-by-costumer {
    justify-content: center;
    width: 551px;
    margin-left: -149px;
    margin-top: 39px;
  }
  .card {
    display: none;
  }
  #review-coffee {
    width: 294px;
    margin-left: -82px;
  }
  #image-icon {
    margin-left: -92px;
  }
  #copyright {
    color: #afb5c0;
    margin-left: -234px;
  }
  #head-footer-right {
    margin-left: 37px;
  }
}
